==
<section id="two" class="main">
    <header class="major">
        <h2>Проекты</h2>
    </header>
    <ul class="features">
        <li>
            <span class="icon major style1 fa-code"></span>
            <h3>Лендинг по дезинсекции</h3>
            <p>Адаптивный дизайн на чистых технологиях HTML, CSS, JS</p>
            <a href="http://vrediteleynet.site/">vrediteleynet.site</a>
        </li>
        <!-- <li>
            <span class="icon major style3 fa-copy"></span>
            <h3>Amed sed feugiat</h3>
            <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
        </li>
        <li>
            <span class="icon major style5 fa-diamond"></span>
            <h3>Dolor nullam</h3>
            <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
        </li> -->
    </ul>
    <!-- <footer class="major">
        <ul class="actions">
            <li><a href="{{'generic'|page}}" class="button">Подробнее</a></li>
        </ul>
    </footer> -->
</section>