==
<section id="one" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Обо мне</h2>
            </header>
            <p>Приветствую!
                Меня зовут Сергей Климов, я веб-программист. <br />
                Буду рад спроектировать и реализовать для вас лендинг, блог, магазин.</p>
            <!-- <ul class="actions">
                <li><a href="{{'generic'|page}}" class="button">Подробнее</a></li>
            </ul> -->
        </div>
        <span class="image"><img src="{{'assets/images/pic01.jpg'|theme}}" alt="image" /></span>
    </div>
</section>